.page {
  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.listCard {
  border: 3px solid grey;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(134, 192, 149);
  padding: 5px;
  border-radius: auto;
}

.headerTitle {
  width: 90%;
  display: inline-block;
}

.listItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 0 10px;
  background-color: rgb(241, 213, 227);
}

